.sidebar1, .sidebar1 *, .sidebar1 li, .sidebar1 li a ,.sidebar1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 .sidebar1{
  box-sizing: border-box;
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width: 270px;
  padding: 10px 14px;
  background: #301904;
  
  transition: all 0.5s ease;
  z-index: 100;
 }
 .sidebar1.closed{
  width: 88px;
  opacity: 1;
  box-shadow: none;
  z-index: 100;
 }
 .sidebar1 .text1{
  font-size: 22px;
  font-weight: 500;
  color: white;
  transition: all 1s ease;
  opacity: 1;
 }
 .sidebar1.closed .text1{
  opacity: 0;
 }
 .sidebar1.closed li{
  opacity: 1;
 }
 .sidebar1.closed li a{
  width:7%;
}
 .sidebar1 .image1{
  min-width: 60px;
  display: flex;
  align-items: center;
 }
 .sidebar1 li{
  height: 50px;
  width: auto;
  margin-top: 5px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: -890px;
 }
 .sidebar1 li .icon1{
  display: flex;
  align-items: center;
  min-width: 60px;
  font-size: 20px;
  justify-content: center;
 
 }
 .sidebar1 li .icon1,
 .sidebar1 li .text1{
  color: white;
  transition: all 1s ease;
  font-size: 18px;
 }
 .sidebar1 header{
  position: relative;
 }
 .sidebar1 .image1-text1 img{
  width: 40px;
  border-radius: 6px;
 
 }
 
 .sidebar1 header .image1-text1 {
  display: flex;
  flex-direction: column; /* Change the direction to column */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
 }
 
 header .image1-text1 .header-text1{
  display: flex;
  flex-direction: column;
 
 }
 .header-text1 .name1{
  font-weight: 600;
  margin-top: 5px; /* Add some space between the image and text */
  margin-left: -20px;
  text-shadow: 0 0 10px #6d3131, 0 0 20px #e24b19, 0 0 30px #bf9688; /* Add glow effect */
 
 }
 
 .sidebar1 header .toggle{
  position: absolute;
  top:50%;
  right:-25px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: #d28b4c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #301904;
  font-size: 22px;
 }
 
 .sidebar1 li a{
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.4s ease;
 }
 
 .sidebar1 li a:hover{
  background: #572b04;
  box-shadow: 0 0 10px #cfbba4;
 }
 
 .sidebar1 li a:hover .icon1,
 .sidebar1 li a:hover .text1{
  /* color: var(--sidebar-color); */
 }
 
 .sidebar1 .menu-bar1{
  height: calc(100% - 100px);  
  /* control the height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
 }
 .home{
  position: relative;
  left:100px;
  height: 100vh;
  width: calc(100%-88px);
 
  transition:  all 0.5s ease;
 }
 .sidebar1.closed ~ .home{
  left: 100px;
  width: (100% - 88px);
 
 }
 
 /* Define styles for the enlarged image */
 .image1 img.large1 {
    width: 100px; /* Adjust size as needed */
    height:auto; /* Maintain aspect ratio */
    border-radius: 80px;
    margin-left: 0px;
    box-shadow: 0 0 15px #d28b4c; /* Add shadow */
 }
 
 /* Define styles for the normal image */
 .image1 img.normal1 {
    width: 60px;
    height: auto; /* Maintain aspect ratio */
    border-radius: 80px;
    margin-left: 3px;
    box-shadow: 0 0 15px #d28b4c; /* Add shadow */
 }
 
 
 .card1 {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
  margin-top: 50px;
  padding: 20px;
  background: linear-gradient(to right, #d28b4c, #e6c8c8);
  transition: transform 0.3s ease-in-out;
  display: flex;
  color:#420D09;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
 }
 
 .card1:hover {
  transform: scale(1.1); /* Increase scale on hover */
  box-shadow: 0 8px 12px #4B2D0B;
 }
 .label-value-container1 {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
 }
 .label-column1, .value-column1 {
  flex: 1; /* Make both columns flexible */
 }
 .label-column1 p{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px; /* Adjust font size */
  margin-left: 15px;
 }
 /* Add box style to the value fields */
 .value-box1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px; /* Adjust font size */
  margin-left: -20px;
 }
 .value-box1 {
  padding: 10px; /* Keep padding for spacing */
  width: 820px; /* Increase width */
  font-size: 14px; /* Font size remains the same */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px); /* Add blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
  border: 5px solid transparent; /* Transparent border initially */
  animation: animateBorder 0.8s infinite alternate; /* Animation for gradient border */
 }
 
 @keyframes animateBorder {
  0% {
      border-image: linear-gradient(45deg, #853408c1, #c0298b) 1;
      background-position: 0 0; /* Start position of the gradient */
  }
  100% {
      border-image: linear-gradient(45deg, #ff562251, #120e1784) 1;
      background-position: 100% 100%;
  }
  }
 
  .card21 {
    margin-top: -10px;
    border-radius: 10px;
    margin-left: 0px;
    width: 1000px;
    height: auto;
    background-color: rgba(214, 201, 180, 0.5); /* Semi-transparent background */
    border: none; /* Remove default card border */
 }
 
 .card1 {
  width: 250px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  background: linear-gradient(to right, #d28b4c,#e6c8c8);
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for zoom effect */
 }
 .card1 img {
  margin-left: 18px;
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%; /* Make the image circular */
 }
 .card1:hover {
  transform: scale(1.1); /* Zoom effect on hover */
  box-shadow: 0 8px 12px #4B2D0B; /* Shadow effect on hover */
 }
 
 .btn-primary1 {
  background-color: #4b2d0b !important;
  border-color: #4b2d0b !important;
  }
  .btn-primary1:hover {
  background-color: #D2B48C !important;
  border-color: #D2B48C !important;
  color: black !important; /* Change text color to black on hover */
  }
 
  /* Set button text color */
 .btn-primary1,
 .btn-outline-primary1 {
  color: #fff !important;
 }
 
 .scribble-text1 {
  transition: transform 1s ease-in-out;
 }
 
 .scribble-text1:hover .nav-text1 {
  animation: floatUpDown 0.5s infinite alternate;
 }
 .scribble-text1:hover .icon1 {
  animation: floatUpDown 0.5s infinite alternate;
 }
 
 @keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px); /* Move the item up when hovered */
  }
 }
 .card51 {
  width: 300px;
  height: 360px; /* Adjusted height to fit image and details */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  padding: 20px;
  background: linear-gradient(to right, #ffb26e, #e6c8c8);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #420D09;
  text-align: center;
}

.card51 img {
  width: 120px; /* Set the desired width of the image */
  height: 120px; /* Set the desired height of the image */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the area */
  margin-bottom: 20px; /* Space between image and details */
}
.card51 h3, .card11st p {
  margin: 2px 0; /* Add space between the text elements */
}
.card51:hover {
  transform: scale(1.1); /* Increase scale on hover */
  box-shadow: 0 8px 12px #4B2D0B;
 }
 
 .card__content1 {
  /* display: flex; */
  gap: 1rem;
 }
 
 .card__content1 span i {
  font-size: 2rem;
  color: var(--primary-color);
 }
 
 .card__details1 p {
  margin-top: 100px;
  font-style: italic;
  /* margin-left: -300px; */
  color: var(--text-dark);
  margin-bottom: 1rem;
 }
 
 .card__details1 h4 {
  text-align: right;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
 }